*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 500px;
  height: 300px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-to-find{
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.word-to-find__letter{
  background-color: silver;
  width: 20px;
  height: 20px;
  text-align: center;
}

.keyboard{
  flex: 0 0 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.keyboard-letter{
  cursor: pointer;
  background-color: aqua;
  margin: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.guesses{
  align-self: flex-end;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}